# --- USER CONFIG --- #
# ARK server options - use ark_<optionname>=<value>
# comment out these values if you want to define them
# inside your GameUserSettings.ini file
serverMap=${SERVERMAP}                                          # server map (default TheIsland)
#serverMapModId="469987622"                                         # Uncomment this to specify the Map Mod Id (<fileid> in http://steamcommunity.com/sharedfiles/filedetails/?id=<fileid>)
#ark_TotalConversionMod="496735411"                                 # Uncomment this to specify a total-conversion mod
ark_SessionName=${SESSIONNAME}                                  # if your session name needs special characters please use the .ini instead
ark_ServerPassword=${SERVERPASSWORD}                            # ARK server password, empty: no password required to login
ark_ServerAdminPassword=${ADMINPASSWORD}                        # ARK server admin password, KEEP IT SAFE!
ark_MaxPlayers=${MAX_PLAYERS}                                      # Number MAX of player
# ark_bRawSockets=""                                            # Uncomment if you want to use ark raw socket (instead of steam p2p) [Not recommended]
arkflag_log=""


# ----- Mods ----- #
#ark_GameModIds="487516323,487516324,487516325"                     # Uncomment to specify additional mods by Mod Id separated by commas
# Mod OS Selection
mod_branch=Windows
# Add mod-specific OS selection below:
#mod_branch_496735411=Windows
# ----------------#

# ----- General Server Settings ----- #
ark_bForceCanRideFliers=true
ark_bJoinNotifications=true
ark_OverrideOfficialDifficulty=0
ark_ClampItemStats=false
ark_KickIdlePlayersPeriod=3600
ark_LimitTurretsNum=100
ark_PreventOfflinePvPInterval=800
ark_AllowCaveBuildingPvE=true
# ----------------#

# ----- Special default Settings for all maps, change here if you want to change it for all instances or define it for each map/instance /instances/file.cfg ----- #
ark_DifficultyOffset=0.500000
ark_DayCycleSpeedScale=0.250000
ark_DayTimeSpeedScale=0.250000
ark_NightTimeSpeedScale=3.000000
ark_DinoDamageMultiplier=0.500000
ark_PlayerDamageMultiplier=1.500000
ark_StructureDamageMultiplier=1.500000
ark_PlayerResistanceMultiplier=0.500000
ark_DinoResistanceMultiplier=1.500000
ark_StructureResistanceMultiplier=0.500000
ark_XPMultiplier=2.000000
ark_TamingSpeedMultiplier=5.000000
ark_HarvestAmountMultiplier=3.000000
ark_PlayerCharacterWaterDrainMultiplier=0.500000
ark_PlayerCharacterFoodDrainMultiplier=0.500000
ark_DinoCharacterFoodDrainMultiplier=0.500000
ark_PlayerCharacterStaminaDrainMultiplier=0.500000
ark_DinoCharacterStaminaDrainMultiplier=0.500000
ark_PlayerCharacterHealthRecoveryMultiplier=1.500000
ark_DinoCharacterHealthRecoveryMultiplier=1.500000
ark_HarvestHealthMultiplier=5.000000
ark_ResourcesRespawnPeriodMultiplier=0.250000
ark_ListenServerTetherDistanceMultiplier=1.500000
ark_RaidDinoCharacterFoodDrainMultiplier=0.100000
ark_StructurePreventResourceRadiusMultiplier=1.000000
ark_PvEDinoDecayPeriodMultiplier=1.000000
ark_AllowRaidDinoFeeding=True
ark_PerPlatformMaxStructuresMultiplier=0.500000
ark_GlobalVoiceChat=True
ark_ProximityChat=False
ark_NoTributeDownloads=False
ark_AllowThirdPersonPlayer=True
ark_AlwaysNotifyPlayerLeft=False
ark_DontAlwaysNotifyPlayerJoined=False
ark_ServerHardcore=False
ark_ServerPVE=True
ark_ServerCrosshair=True
ark_ServerForceNoHUD=False
ark_ShowMapPlayerLocation=True
ark_EnablePvPGamma=True
ark_DisableStructureDecayPvE=True
ark_AllowFlyerCarryPvE=True
ark_OnlyAllowSpecifiedEngrams=False
ark_PreventDownloadSurvivors=False
ark_PreventDownloadItems=False
ark_PreventDownloadDinos=False
ark_DisablePvEGamma=False
ark_DisableDinoDecayPvE=True
ark_AdminLogging=False
ark_ForceAllowCaveFlyers=True
ark_PreventOfflinePvP=True
ark_PvPDinoDecay=True
ark_OverrideStructurePlatformPrevention=True
ark_AllowAnyoneBabyImprintCuddle=True
ark_DisableImprintDinoBuff=False
ark_ShowFloatingDamageText=True
ark_PreventDiseases=False
ark_NonPermanentDiseases=True
ark_EnableExtraStructurePreventionVolumes=False
ark_PreventTribeAlliances=False
ark_PreventOfflinePvPInterval=0.010000
ark_ActiveMods=
ark_ActiveMapMod=0
ark_TheMaxStructuresInRange=10500.000000
ark_OxygenSwimSpeedStatMultiplier=1.000000
ark_TribeNameChangeCooldown=15.000000
ark_PlatformSaddleBuildAreaBoundsMultiplier=1.000000
ark_StructurePickupTimeAfterPlacement=30.000000
ark_StructurePickupHoldDuration=0.500000
ark_AllowIntegratedSPlusStructures=True
ark_AllowHideDamageSourceFromLogs=True
ark_KickIdlePlayersPeriod=3600.000000
ark_AutoSavePeriodMinutes=15.000000
ark_MaxTamedDinos=5000.000000
ark_ItemStackSizeMultiplier=1.000000
ark_RCONServerGameLogBuffer=600.000000
ark_AllowHitMarkers=True
# ----------------#

# ARK server flags - use arkflag_<optionname>=true
#arkflag_OnlyAdminRejoinAsSpectator=true                            # Uncomment to only allow admins to rejoin as spectator
#arkflag_DisableDeathSpectator=true                                 # Uncomment to disable players from becoming spectators when they die
arkflag_crossplay=true
arkflag_NoBattlEye=true

# ARK server options - i.e. for -optname=val, use arkopt_optname=val
#arkopt_StructureDestructionTag=DestroySwampSnowStructures

#ark_AltSaveDirectoryName="SotF"                                    # Uncomment to specify a different save directory name

# Update warning messages
# Modify as desired, putting the %d replacement operator where the number belongs
msgWarnUpdateMinutes="This ARK server will shutdown for an update in %d minutes"
msgWarnUpdateSeconds="This ARK server will shutdown for an update in %d seconds"
msgWarnRestartMinutes="This ARK server will shutdown for a restart in %d minutes"
msgWarnRestartSeconds="This ARK server will shutdown for a restart in %d seconds"
msgWarnShutdownMinutes="This ARK server will shutdown in %d minutes"
msgWarnShutdownSeconds="This ARK server will shutdown in %d seconds"

# config environment
arkwarnminutes="60"                                                 # number of minutes to warn players when using update --warn
arkBackupPreUpdate="false"                                          # set this to true if you want to perform a backup before updating

# Options to automatically remove old backups to keep backup size in check
# Each compressed backup is generally about 1-2MB in size.
arkMaxBackupSizeMB="500"                                            # Set to automatically remove old backups when size exceeds this limit
#arkMaxBackupSizeGB="2"                                             # Uncomment this and comment the above to specify the limit in whole GB
