# --- USER CONFIG --- #
# ARK server options - use ark_<optionname>=<value>
# comment out these values if you want to define them
# inside your GameUserSettings.ini file
serverMap=${SERVERMAP}                                          # server map (default TheIsland)
#serverMapModId="469987622"                                         # Uncomment this to specify the Map Mod Id (<fileid> in http://steamcommunity.com/sharedfiles/filedetails/?id=<fileid>)
#ark_TotalConversionMod="496735411"                                 # Uncomment this to specify a total-conversion mod
ark_SessionName=${SESSIONNAME}                                  # if your session name needs special characters please use the .ini instead
ark_ServerPassword=${SERVERPASSWORD}                            # ARK server password, empty: no password required to login
ark_ServerAdminPassword=${ADMINPASSWORD}                        # ARK server admin password, KEEP IT SAFE!
ark_MaxPlayers=${MAX_PLAYERS}                                      # Number MAX of player
# ark_bRawSockets=""                                            # Uncomment if you want to use ark raw socket (instead of steam p2p) [Not recommended]
arkflag_log=""


# ----- Mods ----- #
#ark_GameModIds="487516323,487516324,487516325"                     # Uncomment to specify additional mods by Mod Id separated by commas
# Mod OS Selection
mod_branch=Windows
# Add mod-specific OS selection below:
#mod_branch_496735411=Windows
# ----------------#

# ----- General Server Settings ----- #
ark_bForceCanRideFliers=true
ark_bJoinNotifications=true
ark_OverrideOfficialDifficulty=0
ark_ClampItemStats=false
ark_KickIdlePlayersPeriod=3600
ark_LimitTurretsNum=100
ark_PreventOfflinePvPInterval=800
ark_AllowCaveBuildingPvE=true
# ----------------#

# ----- Special default Settings for all maps, change here if you want to change it for all instances or define it for each map/instance /instances/file.cfg ----- #
arkopt_DifficultyOffset=0.500000
arkopt_DayCycleSpeedScale=0.250000
arkopt_DayTimeSpeedScale=0.250000
arkopt_NightTimeSpeedScale=3.000000
arkopt_DinoDamageMultiplier=0.500000
arkopt_PlayerDamageMultiplier=1.500000
arkopt_StructureDamageMultiplier=1.500000
arkopt_PlayerResistanceMultiplier=0.500000
arkopt_DinoResistanceMultiplier=1.500000
arkopt_StructureResistanceMultiplier=0.500000
arkopt_XPMultiplier=2.000000
arkopt_TamingSpeedMultiplier=5.000000
arkopt_HarvestAmountMultiplier=3.000000
arkopt_PlayerCharacterWaterDrainMultiplier=0.500000
arkopt_PlayerCharacterFoodDrainMultiplier=0.500000
arkopt_DinoCharacterFoodDrainMultiplier=0.500000
arkopt_PlayerCharacterStaminaDrainMultiplier=0.500000
arkopt_DinoCharacterStaminaDrainMultiplier=0.500000
arkopt_PlayerCharacterHealthRecoveryMultiplier=1.500000
arkopt_DinoCharacterHealthRecoveryMultiplier=1.500000
arkopt_HarvestHealthMultiplier=5.000000
arkopt_ResourcesRespawnPeriodMultiplier=0.250000
arkopt_ListenServerTetherDistanceMultiplier=1.500000
arkopt_RaidDinoCharacterFoodDrainMultiplier=0.100000
arkopt_StructurePreventResourceRadiusMultiplier=1.000000
arkopt_PvEDinoDecayPeriodMultiplier=1.000000
arkopt_AllowRaidDinoFeeding=True
arkopt_PerPlatformMaxStructuresMultiplier=0.500000
arkopt_GlobalVoiceChat=True
arkopt_ProximityChat=False
arkopt_NoTributeDownloads=False
arkopt_AllowThirdPersonPlayer=True
arkopt_AlwaysNotifyPlayerLeft=False
arkopt_DontAlwaysNotifyPlayerJoined=False
arkopt_ServerHardcore=False
arkopt_ServerPVE=True
arkopt_ServerCrosshair=True
arkopt_ServerForceNoHUD=False
arkopt_ShowMapPlayerLocation=True
arkopt_EnablePvPGamma=True
arkopt_DisableStructureDecayPvE=True
arkopt_AllowFlyerCarryPvE=True
arkopt_OnlyAllowSpecifiedEngrams=False
arkopt_PreventDownloadSurvivors=False
arkopt_PreventDownloadItems=False
arkopt_PreventDownloadDinos=False
arkopt_DisablePvEGamma=False
arkopt_DisableDinoDecayPvE=True
arkopt_AdminLogging=False
arkopt_ForceAllowCaveFlyers=True
arkopt_PreventOfflinePvP=True
arkopt_PvPDinoDecay=True
arkopt_OverrideStructurePlatformPrevention=True
arkopt_AllowAnyoneBabyImprintCuddle=True
arkopt_DisableImprintDinoBuff=False
arkopt_ShowFloatingDamageText=True
arkopt_PreventDiseases=False
arkopt_NonPermanentDiseases=True
arkopt_EnableExtraStructurePreventionVolumes=False
arkopt_PreventTribeAlliances=False
arkopt_PreventOfflinePvPInterval=0.010000
arkopt_ActiveMods=
arkopt_ActiveMapMod=0
arkopt_TheMaxStructuresInRange=10500.000000
arkopt_OxygenSwimSpeedStatMultiplier=1.000000
arkopt_TribeNameChangeCooldown=15.000000
arkopt_PlatformSaddleBuildAreaBoundsMultiplier=1.000000
arkopt_StructurePickupTimeAfterPlacement=30.000000
arkopt_StructurePickupHoldDuration=0.500000
arkopt_AllowIntegratedSPlusStructures=True
arkopt_AllowHideDamageSourceFromLogs=True
arkopt_KickIdlePlayersPeriod=3600.000000
arkopt_AutoSavePeriodMinutes=15.000000
arkopt_MaxTamedDinos=5000.000000
arkopt_ItemStackSizeMultiplier=1.000000
arkopt_RCONServerGameLogBuffer=600.000000
arkopt_AllowHitMarkers=True
# ----------------#

# ARK server flags - use arkflag_<optionname>=true
#arkflag_OnlyAdminRejoinAsSpectator=true                            # Uncomment to only allow admins to rejoin as spectator
#arkflag_DisableDeathSpectator=true                                 # Uncomment to disable players from becoming spectators when they die

# ARK server options - i.e. for -optname=val, use arkopt_optname=val
#arkopt_StructureDestructionTag=DestroySwampSnowStructures

#ark_AltSaveDirectoryName="SotF"                                    # Uncomment to specify a different save directory name

# Update warning messages
# Modify as desired, putting the %d replacement operator where the number belongs
msgWarnUpdateMinutes="This ARK server will shutdown for an update in %d minutes"
msgWarnUpdateSeconds="This ARK server will shutdown for an update in %d seconds"
msgWarnRestartMinutes="This ARK server will shutdown for a restart in %d minutes"
msgWarnRestartSeconds="This ARK server will shutdown for a restart in %d seconds"
msgWarnShutdownMinutes="This ARK server will shutdown in %d minutes"
msgWarnShutdownSeconds="This ARK server will shutdown in %d seconds"

# config environment
arkwarnminutes="60"                                                 # number of minutes to warn players when using update --warn
arkBackupPreUpdate="false"                                          # set this to true if you want to perform a backup before updating

# Options to automatically remove old backups to keep backup size in check
# Each compressed backup is generally about 1-2MB in size.
arkMaxBackupSizeMB="500"                                            # Set to automatically remove old backups when size exceeds this limit
#arkMaxBackupSizeGB="2"                                             # Uncomment this and comment the above to specify the limit in whole GB
